$grey: #f6f6f6;
$base-grey: #eae9e9;
$deep-grey: #d4d4d4;
$dark-grey: #4d4d4d;
$silver: #999999;
$green: #2fbd3e;
$base-green: #deffe1;
$light-green: #affeb6;
$yellow: #fffe00;
$red: #cd0202;
$rose: #eaaeae;
$base-rose: #ffe4e4;
$cherry: #a30000;
$dark-red: #420000;
$dark-black: #242222;
$blue: #1c87fd;
